div.container {
  width: 1000px;
  height: 2000px;
  background-color: black;
}

.box {
  width: 500px;
  height: 500px;
}

.box1 {
  background-color: aqua;
}
.box2 {
  background-color: lightgreen;
}
.box3 {
  background-color: pink;
}
.box4 {
  background-color: yellow;
}
.box5 {
  background-color: orange;
}
